<header>
  <h1>{{pageTitle}}</h1>
  <!-- am adaugat links catre cele doua pagini in interiorul fiecareia-->
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p>
</header>
