<html>
  <head>
    <meta charset = "utf-8">
    <title> Some website</title>
  </head>
  <body>
      <!-- inject partial template foar header -->
    {{> header}}
    <p>Some text here</p>

    <!-- inject partial template foer footer -->
    {{> footer}}
  </body>
</html>
