<html>
  <head>
    <meta charset = "utf-8">
    <title> Some website</title>
  </head>
  <body>
    {{> header}}

    <!-- unui helper putem pasa 2 argumente. In cazul asta va transforma welcomeMessage in uppercases-->
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
